body { margin: 0 }

.flex { display: flex }
.flex.space-around { justify-content: space-around }
.flex.space-between { justify-content: space-between }

.box {
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
